:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
}

/*=======HEADER=======*/

.header {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logo {
  font-family: var(--secondary-font);
}
.logo-color-one {
  color: var(--accent-color);
}
.logo-color-two {
  color: #000000;
}

.main-navigation {
}

.menu {
}
.menu-item {
}

.menu-link {
  color: #212121;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contact-header {
}
.contact-header-item {
}
.contact-header-link {
  color: #757575;
}
.contact-header-link:hover,
.contact-header-link:focus {
  color: var(--accent-color);
}
/*=======END HEADER=======*/

/*=======HERO=======*/
.hero {
  background: #2f303a;
}
.hero-title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.modal-button {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  /*display: flex;*/
  align-items: center
  text-align: center
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: var(--accent-color);
}
/*=======END HERO=======*/

/*=======FEATURES=======*/

.features {

}
.features-list {

}
.features-item {

    }
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;

}
.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;

}